---
layout: compress
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>

		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
		<link rel="stylesheet" href="/style.css?{{ site.time | date: '%s%N' }}">

		{% seo %}
	</head>
	<body>

		<header>
			<nav>
				<ul>
					<li>
						<a href="{{ site.baseurl }}/">Home</a>
					</li>
					<li>
						<a href="{{ site.baseurl }}{% link _pages/about.md %}">About</a>
					</li>
				</ul>
			</nav>
		</header>

		{{ content }}

		<footer>
		</footer>


		<script src="/script.js?{{ site.time | date: '%s%N' }}"></script>
	</body>
</html>